@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #9089ef, #b386e6);
    font-family: Roboto;
    display: flex;
    justify-content: center;
}

main {
    width: 300px;
    height: 300px;
    background-image: linear-gradient(90deg, #ba7ed9, #9377cf);
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border-radius: 4px;
    box-shadow: 2px 2px 15px 2px #5d478d;
}

.line-1 {
    width: 2px;
    height: 40px;
    background-color: white;
    margin-left: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.tag {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.word {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.arr {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}

section {
    display: flex;
    flex-direction: column;
    background-color: indigo;
    margin-top: 1.2rem;
}

.line-2 {
    width: 2px;
    height: 25px;
    background-color: white;
    margin-left: 2rem;
    opacity: 50%;
}

.detail{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    margin-left: 3rem;
    margin-top: 3px;
    margin-bottom: 3px;
}


.detail:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.detail::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    left: -18px;
    top: 4px;
    border-radius: 50%;
    border: 1px solid white;
    opacity: 100% !important ;
    background-color: white !important;

}
.line-3 {
    width: 2px;
    height: 15px;
    background-color: white;
    margin-left: 2rem;
    opacity: 50%;
}

.line-4 {
    width: 2px;
    height: 20px;
    background-color: white;
    margin-left: 2rem;
}

.last {
    display: flex;
    flex-direction: column;
}

.tag-2 {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 1.2rem;
}